 

<div id="parent_of_all" class="row d-flex justify-content-between">

    <nav class="container-fluid">
        <div class="dropdown">
            <button class="dropbtn">Upload Image</button>
            <div class="dropdown-content">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <input type="file" id="fileInput" name="fileInput" multiple>
                        <input type ="text" id="imageTitle" placeholder="Enter the image name">
                        <button type="button" id="uploadButton">Upload</button>
                    </form>
            </div>
        </div>
    </nav>

    
    <div class="col-2 overflow-auto scrollPictures">
        <!-- use different sizes lightbox from bootstrap for these images (https://mdbootstrap.com/docs/standard/components/lightbox/)
   if unavailable, use Mix&Match grid system (https://getbootstrap.com/docs/4.2/layout/grid/) -->
        <ul id="scrollPictures-left" class="connectedSortable">
            {{#each asosData.products}}
            
            <li class="scroll-Pictures-left">
                <div id="draggable">
                    <a href="https://{{this.url}}">
                    <div id="image-title">{{this.name}}</div>

                    <img id="{{this.id}}" src="https://{{this.imageUrl}}" />
                    </a>
                </div>
            </li>
            
        {{/each}}
       </ul>
    </div>

    <!-- apply bootstrap mask to the carousel (https://mdbootstrap.com/docs/standard/content-styles/images/) -->
    <div class="col-8">
        <div class="row">
        <div id="outfitcontainer" class= "container d-flex justify-content-around">

        
        <ul id="builder" class="connectedSortable" style="height: 211px;"><p class="headers">Shirts:</p>

            
        </ul>

        
        <ul id="builder-pants" class="connectedSortable" style="height: 211px;"><p class="headers">Pants:</p>

            
        </ul>

        
        <ul id="builder-shoes" class="connectedSortable" style="height: 211px;"><p class="headers">Shoes:</p>

            
        </ul>
        </div>
        </div>
        
        <button id="save-bttn" clas="mx-auto" type="button">Save Outfit</button>

        <ul id="scrollPictures-bottom" class="connectedSortable">

        </ul>

    </div>

    <div class="col-2 overflow-auto scrollPictures">
        <!-- use different sizes lightbox from bootstrap for these images (https://mdbootstrap.com/docs/standard/components/lightbox/)
            if unavailable, use Mix&Match grid system (https://getbootstrap.com/docs/4.2/layout/grid/) -->
    
         
        <ul id="scrollPictures-right" class="connectedSortable">
            {{#each forever21Data.response.docs}}
            
            <li class="scroll-Pictures">
                <div id="draggable">
                    <a href="{{this.url}}">
                    <div id="image-title">{{this.title}}</div>

                    <img id="{{this.pid}}" src="{{this.thumb_image}}" />
                    </a>
                </div>
            </li>
            
        {{/each}}
       </ul>
         
       
    </div>


</div>



<script src="../js/logic.js"></script>



